body {
	font-size: 11pt;
	background-image:url('bg.png');
	margin: 0px;
	padding: 0px;
}
table
{
	
	width:930px;
	background-color:#f0f8ff;
	
}
p{
	
}

p.bev{
	
}


hr {
	
}

h1, h2 {
	
	padding: 5px;
}

h2 {
	
}

#tartalom {
	
	margin: 0 auto 0 auto;
	text-align: left;
	
}

#oszlop1, #oszlop2, #oszlop3 {
    float: left;
    padding: 0px;
   	
}

.kep {
	
}

a:link, a:visited, a:active, a:hover{
	color:#dc143c;
}

#lablec {
    clear: both;
    
}